/Student_ms/target/
/Student_ms/mvnw
/Student_ms/mvnw.cmd
/Student_ms/src/test/
/Student_ms/.idea
/Student_ms/.mvn/
/Student_ms/HELP.md


/cours-ms/target/
/cours-ms/mvnw.cmd
/cours-ms/mvnw
/cours-ms/src/test/**
/cours-ms/.idea
/cours-ms/.mvn/
/cours-ms/HELP.md




/eureka_server/targer/
/eureka_server/mvnw.cmd
/eureka_server/mvnw
/eureka_server/src/test/**
/eureka_server/.idea
/eureka_server/.mvn/
/eureka_server/HELP.md
/eureka_server/test/
