/Student_ms/target/
/Student_ms/mvnw.cmd
/Student_ms/mvnw.cmd
/Student_ms/src/test/
/Student_ms/.idea
/Student_ms/.mvn/**
/Student_ms/HELP.md

mvnw.cmgid
/cours-ms/target/
/cours-ms/mvnw.cmd
/cours-ms/mvnw
/cours-ms/src/test/**
/cours-ms/.idea
/cours-ms/.mvn/**
/cours-ms/HELP.md



